/*html, body {
  margin: 0;
  padding: 0;
} */

canvas {
  display: block;
}

@font-face {
  font-family: "Ribes Regular";
  src: url("ASSETS/Ribes-Regular.woff2") format("woff2");
}

*{
  box-sizing: border-box;
 
} 

html, body {
  margin: unset;
  overflow: hidden;
  position: relative;
}

body {
  background-image: url("ASSETS/background03CREAM.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 0;
}

/* NAVBAR */
.navbar {
  background: transparent;
  color: black;
  position: relative;
  margin-left: 2.65%;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding:0;
}

.navbar{
  display: flex;
}

.navbar a {
  margin: 0;
  padding: 0.8em;
  color: black;
  text-decoration: none;
  display: inline;
  font-size: 1.4em;
  font-family: "Ribes Regular";
}

.navbar a:hover {
  background: white;
}

.navbar a.home:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
