@font-face {
  font-family: "Ribes Regular";
  src: url("ASSETS/Ribes-Regular.woff2") format("woff2");
}

*{
  box-sizing: border-box;
 
}

html, body {
  margin: unset;
  overflow: hidden;
  position: relative;
}

body {
  background-color: rgb(255, 216, 223);
  background-image: url("ASSETS/background01.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 0; /* Rimuovi il padding superiore */
  margin-left: 2.65%;
  margin-right: 2.65%;
}



/*NAVBAR*/

.navbar{
  background: transparent;
  color: black;
  position: relative;
}

.navbar ul{
  margin: unset;
  list-style: none;
  padding:unset;
  display: flex;
}


.navbar .nav-toggle{
  display:flex
}

.navbar a{
  padding: 1em;
  color:inherit;
  text-decoration: none;
  display: inline;
  font-size: 1.4em;
  font-family: "Ribes Regular" ;
}

.navbar a.home{
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.navbar a:hover{
background: white;
}

.navbar a.home:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.navbar .hamburger{
  position: absolute;
  top: 0;
  right: 0;
  border: unset;
  background: unset;
  display: none;
}

.navbar .hamburger svg {
  stroke:black;
}

.navbar .hamburger .icon-close{
  display: none;
}

@media screen and (max-width: 770px) { 
  .navbar.open ul{ display: block; }

.navbar.open .nav-toggle{ display: block; }

.navbar.open a { display: block; } .navbar .nav-toggle { display:none; }

.navbar .hamburger{ display: block; }

.navbar.open .hamburger .icon-open{ display: none; }
  
}

.navbar.open .hamburger .icon-close {
  display: block; /* Mostra l'icona close quando il menu è aperto */
}
  




h1 {
  font-family: 'Ribes Regular';
  font-size: 10em;
  line-height: 0.9;
  margin: 0;
  padding-top: 12%;
  display:block;
  color:black;
}


@keyframes slideInLeft{
  from{
    transform: translateX(-100%);
  }
  to
  {
transform: translateX(0);
  }
}

.heading-1{
  animation-name:slideInLeft ;
  animation-duration:1.3s ;
  animation-timing-function: ease-in ;
  animation-delay:0s ;
  animation-iteration-count: 1;
  animation-direction: normal;

}



h2 {
  font-family: 'Ribes Regular';
  font-size: 2em;
  line-height: 0.9;
  
  margin: 0;
 
  padding-top: 1.5%;

}




.text-wrapper {
  display: flex;
  justify-content: flex-start;
  background: white;
  overflow: hidden;
}



@keyframes move-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

p {
  font-family: 'Ribes Regular';
  font-size: 1.3em;
  white-space: nowrap;
  margin: 0 0em; 
  width: 40%;
}

.separator {
  font-size: 1.88em; 
  margin: 0 1em; 
  line-height: 1; 
  display: flex;
  align-items: center; 
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 770px) {
  h1 {
    font-size: 2em; 
  }

  h2 {
    font-size: 1.4em; 
  }

  p {
    font-size: 1em; 
  }

  .marquee {
    padding: 0.2em; 
  }
}




.right-image {
  position: relative;
  margin: 0; 
  max-width: 52%;
  height: auto;
  float: right;
  display: block;
  top: 0; 
}


.animated-wave {
  display: block;

  padding-left: 22em;
  margin: 0;
  max-width: 100%;
  animation: wave-animation 1s infinite;

}



@keyframes wave-animation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateX(0);
  }
}


.dataviz{
  position: absolute;
  top:53%;
  left: 35%;
  text-decoration: none;
  font-size: 1em;
  font-family: "Ribes Regular";
  color:black;
  background-color: transparent;
  border: 0.3em solid black;
  font-weight: bold;
  padding: 1.4em;
  box-sizing: border-box;
}

.dataviz:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}