@font-face {
  font-family: "Ribes Regular";
  src: url("ASSETS/Ribes-Regular.woff2") format("woff2");
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

body {
  background-color: rgb(255, 216, 223);
  background-image: url("ASSETS/background01.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 0; /* Rimuovi il padding superiore */
}

.trasparent{
background: transparent;
}

.home{
  background: white;
  margin: 0;
}

.home:hover{
  background-color: #000000;
  color: white;
}


     
     .navbar {
      overflow: hidden;
      display: inline;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000; 
      padding-left: 2.65%;
  }

  .navbar a {
    font-size: 19px;
      color: white;
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: "Ribes Regular";
      margin: 0;
  }

  a:hover {
      background-color: #ffffff;
      color: black;
      
  }

h1 {
  font-family: 'Ribes Regular';
  font-size: 5em;
  line-height: 0.9;
  margin: 0;
  padding-top: 12%;
  padding-left: 2.65%;
  display:inline-block;
  color:black;
}

h2 {
  font-family: 'Ribes Regular';
  font-size: 2em;
  line-height: 0.9;
  
  margin: 0;
  padding: 2.65%;
  padding-top: 1.5%;

}




.text-wrapper {
  display: flex;
  justify-content: flex-start;
  background: white;
  overflow: hidden;
}

.marquee {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-color: white;
  padding: 0.5em; 
  z-index: 1000; 
  white-space: nowrap; 
}

.marquee-content {
  display: flex; 
  animation: move-rtl 40000ms linear infinite; 
  width: calc(200%); 
}



@keyframes move-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

p {
  font-family: 'Ribes Regular';
  font-size: 1.3em;
  white-space: nowrap;
  margin: 0 0em; 
}

.separator {
  font-size: 1.88em; 
  margin: 0 1em; 
  line-height: 1; 
  display: flex;
  align-items: center; 
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em; 
  }

  p {
    font-size: 1em; 
  }

  .marquee {
    padding: 0.2em; 
  }
}




.right-image {
  position: relative;
  margin: 0; 
  max-width: 52%;
  height: auto;
  float: right;
  display: block;
  top: 0; 
}


.animated-wave {
  display: block;
 padding-top: 0em;
  padding-left: 22em;
  margin: 0;
  max-width: 50%;
  animation: wave-animation 1s infinite;
}



@keyframes wave-animation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateX(0);
  }
}


button{
  position: absolute;
  top:53%;
  left: 41%;
  transform: translate(-50%,-50%);
  text-decoration: none;
  font-size: 1em;
  font-family: "Ribes Regular";
  color:black;
  background-color: transparent;
  border: 0.3em solid black;
  font-weight: bold;
  padding: 1.4em;
  box-sizing: border-box;
}

button:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}






